extends templates/layout.pug

block main 
    h2 Perfil de Usuario
    h3 Nombre de usuario,País, Nivel, Rating, 


    h2 Juegos y Desafios 


    div.dashboard-game-link
            img(src='./img/puzzles10ximg-text.svg' alt='imagen puzzle')
            a(href='/puzzles10X').btn-dashboard Jugar Ahora

    div.dashboard-game-link
            img(src='./img/tactic10X.svg' alt='imagen tactic10x')
            a(href='/puzzles10X').btn-dashboard Jugar Ahora